html, body {
    height: 100%;
    margin: 0;
    background: white;
    overflow: hidden;
}

.top {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 600px;
    margin: 30px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 10px;
}

.map {
    height: 100%;
    width: 100%;
    //filter: saturate(150%);
    background-color: #f2efe9;
    background-image: url(bg.png);
}

.current_loc {
    position: absolute;
    right: 8px;
    bottom: 42px;
}

.goto_maps {
    position: absolute;
    left: 8px;
    bottom: 12px;
    width: 100px;
    height: 100px;
    background: rgba(255, 0, 0, 0);
}

.goto_maps > button {
    float: left;
}
.goto_maps > button,
.goto_maps > button > img {
    width: 36px;
    height: 36px;
}

.goto_maps > button.sat_button {
    margin: 0 12px 5px 15px;
}

.goto_maps > button.sat_button,
.goto_maps > button.sat_button > img {
    width: 50px;
    height: 50px;
}

.ol-control {
    background: rgba(255, 0, 0, 0);
}
.ol-control:hover {
    background: rgba(255, 0, 0, 0);
}
.ol-control > button:hover {
    background: rgba(255, 255, 255, 0.9);
}


#poi {
    display: none;
    position: absolute;
    left: 30px;
    top: 110px;
    width: 400px;
    max-height: 80%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.9);
}

_::-webkit-full-page-media, _:future, #poi, .top {
    -webkit-backdrop-filter: blur(6px);
    border: 0px solid rgba(255, 255, 255, 0.9);
    background-color: hsla(0,0%,100%,.4);
}

@media screen and (max-width: 500px){
    #poi {
        top: auto;
        width: 100%;
        bottom: 0px;
        height: 450px;
        max-height: 80%;
        left: 0px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .top {
        width: calc(100% - 40px);
        max-width: none;
        margin: 20px;
    }
}

#poi close{
    float: right;
    width: 20px;
    height: 20px;
}

.poi_value {
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.zoomControl {
    right: 8px;
    bottom: 86px;
}

.ol-control button
{
    background: #ffffffcc;
    color: black;
    border-radius: 10px;
}

.ol-attribution ul {
    font-size: 12px;
}

#popup {
    margin: 0px 0 0 0;
    background: #ffffffcc;
    padding: 10px;
    border-radius: 5px;
}

#popup-context {
    text-align: center;
    display: none;
    background: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 80px);
    bottom: 20px;
    width: 160px;
    height: 40px;
    font-size: 12px;
}

#popup-list {

    display: none;
    background: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 100px;
    width: 200px;
    height: 60%;
    font-size: 12px;
    overflow: scroll;
}

li {
    display:block !important;
    width: 100%;
}

li:hover {
    background: #eee;
    width: 100%;
}

.overlay-button > button {
    height: 40px;
    width: 40px;
}

.overlay-button {
    position: absolute;
    left: 26px;
    padding: 4px;
    bottom: 115px;
    border-radius: 10px;
}

.overlays-setting form {
    padding: 0;
    margin: 0;
}
.overlays-setting {
    position: absolute;
    left: 90px;
    bottom: 30px;
    background: #ffffffee;
    padding: 5px;
    display: none;
    height: 202px;
    border-radius: 6px;
}

#context-menu {
    background: #ffffffee;
    position: absolute;
    width: 200px;
    left: 100px;
    top: 100px;
    border-radius: 10px;
    display:none;
    padding: 5px 0 5px 0;
}

#context-menu a {
    font-size: 14px;
    display: block;
    margin: 5px 5px 5px 12px;
}

#context-menu hr {
    padding: 0;
    margin: 0;
    border: 1px dashed gray;
    height: 0px;
}
