html, body {
    height: 100%;
    margin: 0;
    background: white;
}

.map {
    height: calc(100% - 38px);
    width: 100%;
}

.top_bar {
    background: red;
    z-index: 200;
    width: 80%;
}

.current_loc {
    position: absolute;
    right: 8px;
    bottom: 40px;
}


#poi {
    display: none;
    position: absolute;
    left: 0px;
    top: 110px;
    width: 400px;
    background: white;
    border: 1px solid gray;
    padding: 10px;
}

@media screen and (max-width: 500px){
    #poi {
        top: auto;
        width: 100vw;
        bottom: 0px;
        height: 400px;
        overflow: scroll;
    }
}

#poi close{
    float: right;
    width: 20px;
    height: 20px;
}

.poi_value {
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
