@import 'ol/ol.css';

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-control button {
  background: #ffffffcc;
  color: black;
  border-radius: 10px;
}

.ol-attribution ul {
  font-size: 12px;
}

.ol-control {
  background: rgba(255, 0, 0, 0);
}
.ol-control:hover {
  background: rgba(255, 0, 0, 0);
}
.ol-control > button:hover {
  background: rgba(255, 255, 255, 0.9);
}
